<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Colocar <link rel='icon'> -->
    <title>Portifolio Paulo Henrique</title>


</head>

<body>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js" async></script>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">

        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Paulo Henrique">
            <h1>Paulo Henrique</h1>
            <br>
            <div class="social-links">
                <a target="_blank" href="https://www.linkedin.com/in/paulo-henrique-3275b0132/">
                    <i class="bi bi-linkedin">

                    </i>
                </a>
                <a target="_blank" href="https://github.com/PauloHer25">
                    <i class="bi bi-github">

                    </i>
                </a>
                <a target="_blank" href="https://www.instagram.com/paulohersilva/">
                    <i class="bi bi-instagram"></i>
                </a>

            </div>

        </section>
        <br>

        <nav id="navbar" class="nav-menu">
            <nav class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i>
                        Início
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" name="sobre" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i>
                        Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Curriculo

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfolio

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i>
                        Contato

                    </a>
                </li>
            </nav>
        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">
                    Paulo Henrique
                </h2>

            </div>

            <div class="col-md-8 d-flex justify-content-end align-items-center" id="divFuncao"><span id="subtitle"
                    class="text-white">
                    Estudante de Ciência da Computação na Universidade Cruzeiro do Sul
                </span></div>
            <div class="col-md-7 d-flex justify-content-end align-items-center">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true">

                    </i>
                    <a name="sobre" href="#sobre">
                        Arraste para mais
                    </a>
                </div>

            </div>
        </section>
        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">
                        Sobre
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.</p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Paulo Henrique">
                </div>
                <div class="col-md-8">
                    <h3>Estudante de Ciência da Computação</h3>
                    <p>Atualmente estudo Ciência da Computação na Universidade Cruzeiro do Sul Virtual.
                        Estou em busca para uma vaga de emprego ou estágio e estou em constante evolução profissional.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    <p class="pTurquesa">Aniversário:</p> <span class="fw-lighter">26 de Junho de
                                        1997</span>
                                </li>
                                <li class="list-group-item">
                                    <p class="pTurquesa"> Idade: </p><span class="fw-lighter">26 anos</span>
                                </li>
                                <li class="list-group-item">
                                    <p class="pTurquesa"> Cidade:</p> <span class="fw-lighter">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    <p class="pTurquesa">Estado: </p><span class="fw-lighter">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    <p class="pTurquesa">Hobby: </p><span class="fw-lighter">Radioamadorismo</span>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div id="container-habilidades" class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <div class="row">
                    <div class="col-md-6">
                        <hr>
                        <br>

                        <h5>Hard Skills</h3>
                            <!-- Usar o grafico Colorido do bootstrap, e não o da porcentagem. -->
                            <p class="mt-3 mb-0">Python</p>
                            <div class="progress">

                                <p>90</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Git</p>
                            <div class="progress">

                                <p>60</p>
                                <div id="progressBar" class="progress-bar bg-warning" role="progressbar"
                                    style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Java</p>
                            <div class="progress">

                                <p>90</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Linux</p>
                            <div class="progress">

                                <p>80</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>

                            <p class="mt-3 mb-0">HTML</p>
                            <div class="progress">

                                <p>90</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Flutter</p>
                            <div class="progress">

                                <p>50</p>
                                <div id="progressBar" class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>

                            <p class="mt-3 mb-0">CSS</p>
                            <div class="progress">

                                <p>90</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Javascript</p>
                            <div class="progress">

                                <p>80</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Ionic</p>
                            <div class="progress">

                                <p>30</p>
                                <div id="progressBar" class="progress-bar bg-success" role="progressbar"
                                    style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <hr>
                            <br>
                            <h5>Soft Skills</h5>
                            <p class="mt-3 mb-0">Orientação a detalhes</p>
                            <div class="progress">

                                <p>90</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Proatividade</p>
                            <div class="progress">

                                <p>80</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Comunicação</p>
                            <div class="progress">

                                <p>70</p>
                                <div id="progressBar" class="progress-bar bg-warning" role="progressbar"
                                    style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>

                            <p class="mt-3 mb-0">Trabalho em equipe</p>
                            <div class="progress">

                                <p>70</p>
                                <div id="progressBar" class="progress-bar bg-warning" role="progressbar"
                                    style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Empatia</p>
                            <div class="progress">

                                <p>60</p>
                                <div id="progressBar" class="progress-bar bg-warning" role="progressbar"
                                    style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                            <p class="mt-3 mb-0">Comprometimento</p>
                            <div class="progress">

                                <p>80</p>
                                <div id="progressBar" class="progress-bar bg-danger" role="progressbar"
                                    style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><br>
                    </div>
                </div>

            </div>
        </section>
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 ob-4">Curriculo</h2>
                <br>
                <div>
                    <h5 class="centralizado">Paulo Henrique Alves Silva</h5>
                    <p class="centralizado2">Rua Barra do Paraopeba, 172, São Paulo 02951-150</p>
                    <p class="celular">+55 11 96722-6919</p>
                    <p class="emailSublinhado">Paulo.her2100@gmail.com</p>
                    <hr class="hrTracejado">
                    <h5>Resumo Profissional:</h5>
                    <p class="pFormatado">Estudante de Ciência da Computação com ótimo desempenho acadêmico e grande
                        disposição para o aprendizado. Capaz de oferecer um serviço de qualidade através
                        de conhecimentos práticos e boas habilidades interpessoais, visando o
                        desenvolvimento profissional</p>
                    <hr class="hrTracejado">
                    <h5>Histórico Profissional</h5>

                    <p>02/2022 - Atual <span class="paragrafo_formatado"> Designer Digital, Planilhas, e outros
                            Empresa Familiar – São Paulo, São Paulo</span>
                    </p>
                    <hr class="hrTracejado">
                    <h5>Formação acadêmica</h5>
                    <p>Esperado em 06/2024 <span class="paragrafo_formatado_2"><b>Em andamento: Ciência da computação -
                                Universidade Cruzeiro do Sul -</b> São Paulo</span>
                    </p>
                    <hr class="hrTracejado">

    </main>

</body>

</html>